<div class="container-fluid">
  <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
    <div class="row mt-2">
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
        <p>
          <mat-toolbar color="accent">
            <span>Discount Coupon Form</span>
          </mat-toolbar>
        </p>
        <mat-card>
          <mat-form-field class="input-full-width">
            <mat-label>Coupon Type*</mat-label>
            <mat-select  formControlName="coupon_type">
              <mat-option value="User">User</mat-option>
              <mat-option value="Employee">Employee</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="input-full-width">
            <mat-label>Coupon Code*</mat-label>
            <input matInput formControlName="coupon_code">
          </mat-form-field>
          <div class="row">
            <div class="col-6">
              <mat-form-field color="accent" class="input-half-width">
                <mat-label>Start Date*</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="valid_from">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent" class="input-half-width">
                <mat-label>End Date*</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="valid_to">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="accent"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
  
          <div class="row">
            <div class="col-6">
              <mat-form-field class="input-half-width">
                <mat-label>Coupon Availability*</mat-label>
                <mat-select formControlName="is_unlimited">
                  <mat-option value="Unlimited">Unlimited</mat-option>
                  <mat-option value="Limited">Limited</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="input-half-width">
                <mat-label>Coupon count</mat-label>
                <input matInput formControlName="coupon_count">
              </mat-form-field>
            </div>
          </div>
  
  
          <!-- //text editor  -->
          <angular-editor  formControlName="tnc" [config]="config"></angular-editor>
          <!-- end of editor  -->
          <mat-form-field class="input-full-width">
            <mat-label>Coupon Status</mat-label>
            <mat-select formControlName="is_active">
              <mat-option *ngFor="let status of couponStatus" value={{status.value}}>{{status.dataValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
      </div>
    </div>

    <p>
      <mat-toolbar color="accent">
        <span>COUPON RULES:</span>
      </mat-toolbar>
    </p>
    <div formArrayName="rules" *ngFor="let item of rules_controls; let i = index;">
      <div [formGroupName]="i">
        <div class="row mt-3">
          <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
            <mat-card>
              <p>
                <mat-toolbar color="disabled">
                  <span>RULE {{i+1}}</span>
                </mat-toolbar>
              </p>
              <mat-form-field class="input-half-width">
                <mat-label>Min Amount*</mat-label>
                <input matInput formControlName="min_amount">
              </mat-form-field>
              <mat-form-field class="input-half-width">
                <mat-label>Max Amount</mat-label>
                <input matInput formControlName="max_amount">
              </mat-form-field>
              <mat-form-field class="input-half-width">
                <mat-label>Discount Type*</mat-label>
                <mat-select formControlName="discount_type">
                  <mat-option value="Percentage">Percentage</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="input-half-width">
                <mat-label>Discount Amount*</mat-label>
                <input matInput formControlName="discount">
              </mat-form-field>
              <mat-form-field class="input-half-width">
                <mat-label>Max Discount Amount</mat-label>
                <input matInput formControlName="max_discount">
              </mat-form-field>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="example-button-container" (click)="onAddRules()">
      <button type="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
        <mat-icon>add</mat-icon>
      </button>
      <button type="button" mat-stroked-button color="primary">Add More</button>
    </div>
    <button type="submit" mat-raised-button color="primary">Save</button>

   
  </form>
</div>







<!-- <div class="container">
  <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
  <h5 class="html-header">HTML Output</h5>
  <div class="html">
    {{ htmlContent }}
  </div>
</div> -->