<div class="container-fluid">
  <!-- form  -->
  <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
    <div class="row mt-2">
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
        <p>
          <mat-toolbar color="accent">
            <span>Discount Coupon Form</span>
          </mat-toolbar>
        </p>

        <!-- Discount Coupon Form section  -->
        <mat-card>
          <mat-form-field class="input-full-width">
            <mat-label>Coupon Type*</mat-label>
            <mat-select formControlName="coupon_type">
              <mat-option value="User">User</mat-option>
              <mat-option value="Employee">Employee</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="input-full-width">
            <mat-label>Coupon Code*</mat-label>
            <input matInput formControlName="coupon_code">
          </mat-form-field>
          <div class="row">
            <div class="col-6">
              <mat-form-field color="accent" class="input-half-width">
                <mat-label>Start Date*</mat-label>
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" formControlName="valid_from">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent" class="input-half-width">
                <mat-label>End Date*</mat-label>
                <input matInput [matDatepickerFilter]="myFilter2" [matDatepicker]="picker2" formControlName="valid_to">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="accent"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <mat-form-field class="input-half-width">
                <mat-label>Coupon Availability*</mat-label>
                <mat-select formControlName="is_unlimited">
                  <mat-option (click)="onUnlimitedAvailability()" value="True">Unlimited</mat-option>
                  <mat-option (click)="onLimitedAvailability()" value="False">Limited</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="input-half-width" *ngIf="!isUnlimited">
                <mat-label>Coupon count</mat-label>
                <input matInput formControlName="coupon_count">
              </mat-form-field>
            </div>
          </div>


          <!-- //text editor  -->
          <angular-editor formControlName="tnc" [config]="config"></angular-editor>
          <!-- end of editor  -->
          <br>
          <mat-form-field class="input-full-width">
            <mat-label>Coupon Status</mat-label>
            <mat-select formControlName="is_active">
              <mat-option *ngFor="let status of couponStatus" value={{status.value}}>{{status.dataValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
      </div>
    </div>
    <!-- End Discount Coupon Form section  -->

    <!-- Coupon rules section  -->
    <div class="row mt-3">
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
        <h3><b>COUPON RULES:</b></h3>
        <hr>
      </div>
    </div>
    <div formArrayName="rules" *ngFor="let item of rules_controls; let i = index;">
      <div [formGroupName]="i">
        <div class="row mt-1">
          <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
            <mat-card>
              <div class="row">
                <div class="col-lg-11 col-md-10 col-10">
                  <p>
                    <mat-toolbar color="disabled">
                      <span>RULE {{i+1}}</span>
                    </mat-toolbar>
                  </p>
                </div>
                <!-- Delete button  -->
                <div class="col-lg-1 col-md-2 col-2">
                  <button type="button" mat-mini-fab color="warn" (click)="onDeleteRules()">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <!-- End of Delete button  -->
              </div>

              <div class="row">
                <div class="col-6">
                  <mat-form-field class="input-half-width">
                    <mat-label>Min Amount*</mat-label>
                    <input type="number" matInput formControlName="min_amount">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="input-half-width">
                    <mat-label>Max Amount</mat-label>
                    <input type="number" matInput formControlName="max_amount">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="input-half-width">
                    <mat-label>Discount Type*</mat-label>
                    <mat-select formControlName="discount_type">
                      <mat-option value="Percentage">Percentage</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="input-half-width">
                    <mat-label>Discount Amount*</mat-label>
                    <input type="number" matInput formControlName="discount">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="input-half-width">
                    <mat-label>Max Discount Amount</mat-label>
                    <input type="number" matInput formControlName="max_discount">
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Coupon rules section  -->

    <!-- button section  -->
    <div class="row mt-3">
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
        <div class="example-button-container float-right mb-2" (click)="onAddRules()">
          <button type="button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
            <mat-icon>add</mat-icon>
          </button>
          <button type="button" mat-stroked-button color="primary">Add More</button>
        </div>
        <button type="submit" mat-raised-button color="primary" [disabled]="couponForm.invalid">Save</button>
        <button type="reset" mat-icon-button color="primary" (click)="resetForm()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
    <!-- End of button section   -->
    
  </form>
  <!-- End of form  -->
</div>